extends layout

block content
    if error
        .error 
            div There was a problem retrieving data from the API. It is important that you have stable APIs for your production projects. Using a free, public API can backfire.
    // We are adding a Global Section using the data.Global object.
    if data
        .centered
            h2 United States
            .centered
                .cards.large
                    .card
                        .row
                            .cases
                                .row
                                    .new 
                                        h4 New Cases
                                        .count #{"20K+"}
                                    .total 
                                        h4 Total Cases
                                        .count  #{data.totalCases}
                            .deaths
                                .row
                                    .new 
                                        h4 New Deaths
                                        .count  #{"1K+"}
                                    .total
                                        h4 Total Deaths
                                        .count  #{data.totalDeaths}
                            .recovered
                                .row
                                    .new 
                                        h4 New Recovered
                                        .count  #{data.casesByState[0].name}
                                    .total
                                        h4 Total Recovered
                                        .count  #{"1M+"}
        .centered#countryList
            h2 By State
            h3 Type to Filter
            form(onSubmit="handleSubmit(event)")
                input#needle(placeholder="State name", onkeyup="handleKeyup(event)")
            // Client side JavaScript in the <script> element below is processed in your Web browser.
            script(type="text/javascript").
                filter = (needle) => {
                    const cards = document.querySelectorAll('#countryList .card');
                    cards.forEach(el => {
                        const name = el.getAttribute('data-name').toLowerCase();
                        const isMatched = name && name.indexOf(needle) !== -1;
                        el.style.display = isMatched ? 'block' : 'none';
                    });
                }
                handleSubmit = (e) => {
                    e.preventDefault(); // Prevent the form from reloading the page. We're handling this with JavaScript.
                };
                handleKeyup = (e) => {
                    // Filter whenever content is entered.
                    const needle = e.target.value.toLowerCase(); // Get the filter value.
                    filter(needle);
                };
            .cards
                // Our Countries array is now at data.Countries.
                each val, index in data.casesByState
                    .card(data-name=val.name.toLowerCase())
                        h2 #{val.name}
                        i As of #{"2023-04-03"}
                        .row
                            .cases
                                h3 Reported 
                                .row
                                    .new 
                                        h4 Range
                                        .count #{val.range}
                                    .total 
                                        h4 Total Cases
                                        .count  #{val.casesReported}
                //-             .deaths
                //-                 h3 Deaths
                //-                 .row
                //-                     .new 
                //-                         h4 New
                //-                         .count  #{val.NewDeaths}
                //-                     .total
                //-                         h4 Total
                //-                         .count  #{val.TotalDeaths}
                //-             .recovered
                //-                 h3 Recovered
                //-                 .row
                //-                     .new 
                //-                         h4 New
                //-                         .count  #{val.NewRecovered}
                //-                     .total
                //-                         h4 Total
                //-                         .count  #{val.TotalRecovered}
    p Visit the  
        a(href='/about') about page
